<!-- Service Details Section Start -->
<section class="service-details-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="service-post-area">
          <div class="service-details-img">
            <img src="assets/img/services/service-details-3.jpg" alt="service details image">
          </div>
          <h2>{{'services_detail.road_freight'|translate}}</h2>
          <h5 class="fw-bold">{{'services_detail.discover'|translate}}</h5>
          <ul>
            <li class="color-black"><i class="icofont-hand-right"></i><span class="px-1">{{'services_detail.road_freight.discover.content_1'|translate}}</span></li>
            <li class="color-black"><i class="icofont-hand-right"></i><span class="px-1">{{'services_detail.road_freight.discover.content_2'|translate}}</span></li>
            <li class="color-black"><i class="icofont-hand-right"></i><span class="px-1">{{'services_detail.road_freight.discover.content_3'|translate}}</span></li>
            <li class="color-black"><i class="icofont-hand-right"></i><span class="px-1">{{'services_detail.road_freight.discover.content_4'|translate}}</span></li>
          </ul>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="post-img">
                <img src="assets/img/services/post-img-5.jpg" alt="post image">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="post-img">
                <img src="assets/img/services/post-img-6.jpg" alt="post image">
              </div>
            </div>
          </div>

          <h5 class="fw-bold">{{'services_detail.different'|translate}}</h5>
          <p>{{'services_detail.road_freight.different.content'|translate}}</p>
        </div>
      </div>

      <div class="col-lg-4 wow fadeInUp" data-wow-duration="1s">
        <div class="service-sidebar">
          <div class="sidebar-widget">
            <h3>{{'services_detail.feature'|translate}}</h3>
            <ul>
              <li>
                <i class="icofont-check-circled"></i>
                {{'services.group.enthusiasticStaff'|translate}}
              </li>
              <li>
                <i class="icofont-check-circled"></i>
                {{'services.group.fastAndSafeDelivery'|translate}}

              </li>
              <li>
                <i class="icofont-check-circled"></i>
                {{'services.group.competitivePrices'|translate}}

              </li>
              <li>
                <i class="icofont-check-circled"></i>
                {{'services.group.247Support'|translate}}

              </li>
              <li>
                <i class="icofont-check-circled"></i>
                {{'services.group.perfectSolution'|translate}}
              </li>
            </ul>
          </div>

          <div class="sidebar-widget">
            <h3>{{'services_detail.contact_us'|translate}}</h3>
            <ul>
              <li>
                <a href="tel:+10235415654">
                  <i class="icofont-phone"></i>
                  0979359660
                </a>
              </li>
              <li>
                <a href="mailto:hello@fixa.com">
                  <i class="icofont-ui-message"></i>
                  sales@dpig-logistics.com
                </a>
              </li>
              <li>
                <a>
                  <i class="icofont-location-pin"></i>
                  {{'footer.address'|translate}}
                </a>

              </li>
            </ul>
          </div>

<!--          <div class="sidebar-widget">-->
<!--            <h3>{{'services_detail.downloadBrochures'|translate}}</h3>-->
<!--            <ul>-->
<!--              <li>-->
<!--                <a href="#">-->
<!--                  <i class="icofont-file-alt"></i>-->
<!--                  Brochures (1)-->
<!--                </a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="#">-->
<!--                  <i class="icofont-file-alt"></i>-->
<!--                  Brochures (2)-->
<!--                </a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="#">-->
<!--                  <i class="icofont-file-alt"></i>-->
<!--                  Brochures (3)-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Service Details Section End -->

<!-- Company Section Start -->
<div class="company-section company-style-three pb-50">
  <div class="container">
    <div class="company-slider position-relative">
      <owl-carousel-o [options]="owlPartnerCompany">
        <ng-template carouselSlide>
          <div class="company-logo h-100 d-flex align-items-center justify-content-center">
            <a href="#"><img src="assets/img/company/1.png" alt="logo"></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="company-logo h-100 d-flex align-items-center justify-content-center">
            <a href="#"><img src="assets/img/company/2.png" alt="logo"></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="company-logo h-100 d-flex align-items-center justify-content-center">
            <a href="#"><img src="assets/img/company/3.png" alt="logo"></a>
          </div>

        </ng-template>
        <ng-template carouselSlide>
          <div class="company-logo h-100 d-flex align-items-center justify-content-center">
            <a href="#"><img src="assets/img/company/4.png" alt="logo"></a>
          </div>

        </ng-template>
        <ng-template carouselSlide>
          <div class="company-logo h-100 d-flex align-items-center justify-content-center">
            <a href="#"><img src="assets/img/company/5.png" alt="logo"></a>
          </div>

        </ng-template>
      </owl-carousel-o>
    </div>


  </div>
</div>
<!-- Company Section End -->
