::ng-deep {


  .owl-theme .owl-nav [class*='owl-'] {
    display: flex;
    justify-content: center;
    align-items: center;


  }

  .owl-carousel .owl-stage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
