

<!-- Container -->
<div id="container">
  <!-- Header
      ================================================== -->

  <!-- End Header -->

  <!-- home-section
    ================================================== -->
  <section id="home-section">
    <div id="rev_slider_202_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="concept1" style="background-color:#000000;padding:0px;">
      <!-- START REVOLUTION SLIDER 5.1.1RC fullscreen mode -->
      <div id="rev_slider_202_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.1.1RC">
        <ul>
          <!-- SLIDE  -->
          <li data-index="rs-672" data-transition="slidingoverlaydown" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="upload/slider/1.jpg" data-rotate="0" data-saveperformance="off" data-title="unique" data-description="">
            <!-- MAIN IMAGE -->
            <img src="assets/upload/slider/1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
            <!-- LAYERS -->

            <!-- LAYER NR. 1 -->
            <div class="tp-bg-text tp-caption Concept-Title tp-resizeme rs-parallaxlevel-2"
                 id="slide-672-layer-1"
                 data-x="['center','center','center','center']"
                 data-hoffset="['-1400','-1400','-1400','-1400']"
                 data-y="['middle','middle','middle','middle']"
                 data-fontsize="['100','90','80','50']"
                 data-lineheight="['80','80','50','36']"
                 data-voffset="['50','50','50','50']"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                 data-start="1400"
                 data-splitin="none"
                 data-splitout="none"
                 data-responsive_offset="on"
                 style="z-index: 5; white-space: nowrap;">

            </div>

            <!-- LAYER NR. 1 -->
            <div class="tp-caption Concept-Title tp-resizeme rs-parallaxlevel-2"
                 id="slide-672-layer-2"
                 data-x="['left','left','left','left']"
                 data-hoffset="['15','15','15','15']"
                 data-y="['middle','middle','middle','middle']"
                 data-fontsize="['100','90','80','50']"
                 data-lineheight="['80','80','50','36']"
                 data-voffset="['10','20','20','20']"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                 data-start="1800"
                 data-splitin="none"
                 data-splitout="none"
                 data-responsive_offset="on"
                 style="z-index: 7; white-space: nowrap;">LÒNG HEO XÀO NGHỆ <br> BA HƯNG
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption Concept-SubTitle tp-resizeme rs-parallaxlevel-2"
                 id="slide-672-layer-3"
                 data-x="['left','left','left','left']"
                 data-hoffset="['15','15','15','15']"
                 data-y="['middle','middle','middle','middle']"
                 data-voffset="['140','140','130','110']"
                 data-fontsize="['19','19','18','14']"
                 data-lineheight="['29','28','26','24']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                 data-start="2100"
                 data-splitin="none"
                 data-splitout="none"
                 data-responsive_offset="on"
                 style="z-index: 6; white-space: nowrap;font-style:italic;">Món ngon đậm đà hương vị miền Trung
            </div>

            <!-- LAYER NR. 3 -->
            <div class="tp-caption Concept-SubTitle tp-resizeme rs-parallaxlevel-2"
                 id="slide-672-layer-4"
                 data-x="['center','center','center','center']"
                 data-hoffset="['15','15','15','15']"
                 data-y="['middle','middle','middle','middle']"
                 data-voffset="['-110','-110','-110','-110']"
                 data-fontsize="['15','15','16','16']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                 data-start="2300"
                 data-splitin="none"
                 data-splitout="none"
                 data-responsive_offset="on"
                 style="z-index: 6; white-space: nowrap;"><a class="order-button" href="#">Order <br> <span>50K</span><span></span></a>
            </div>

          </li>
          <!-- SLIDE  -->
          <li data-index="rs-674" data-transition="slidingoverlayright" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="upload/slider/2.jpg" data-rotate="0" data-saveperformance="off" data-title="professional" data-description="">
            <!-- MAIN IMAGE -->
            <img src="assets/upload/slider/2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
            <!-- LAYERS -->
            <!-- LAYERS -->

            <!-- LAYER NR. 1 -->
            <div class="tp-bg-text tp-caption Concept-Title tp-resizeme rs-parallaxlevel-2"
                 id="slide-674-layer-1"
                 data-x="['center','center','center','center']"
                 data-hoffset="['-1400','-1400','-1400','-1400']"
                 data-y="['middle','middle','middle','middle']"
                 data-fontsize="['100','90','80','50']"
                 data-lineheight="['80','80','50','36']"
                 data-voffset="['50','50','50','50']"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                 data-start="1400"
                 data-splitin="none"
                 data-splitout="none"
                 data-responsive_offset="on"
                 style="z-index: 5; white-space: nowrap;">

            </div>

            <!-- LAYER NR. 1 -->
            <div class="tp-caption Concept-Title tp-resizeme rs-parallaxlevel-2"
                 id="slide-674-layer-2"
                 data-x="['left','left','left','left']"
                 data-hoffset="['15','15','15','15']"
                 data-y="['middle','middle','middle','middle']"
                 data-fontsize="['100','90','80','50']"
                 data-lineheight="['80','80','50','36']"
                 data-voffset="['10','20','20','20']"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                 data-start="1800"
                 data-splitin="none"
                 data-splitout="none"
                 data-responsive_offset="on"
                 style="z-index: 7; white-space: nowrap;">GỎI BAO TỬ <br> TAI HEO
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption Concept-SubTitle tp-resizeme rs-parallaxlevel-2"
                 id="slide-674-layer-3"
                 data-x="['left','left','left','left']"
                 data-hoffset="['15','15','15','15']"
                 data-y="['middle','middle','middle','middle']"
                 data-voffset="['140','140','130','110']"
                 data-fontsize="['19','19','18','14']"
                 data-lineheight="['29','28','26','24']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                 data-start="2100"
                 data-splitin="none"
                 data-splitout="none"
                 data-responsive_offset="on"
                 style="z-index: 6; white-space: nowrap;font-style:italic;">Món ăn đậm đà hương vị miền Trung
            </div>

            <!-- LAYER NR. 3 -->
            <div class="tp-caption Concept-SubTitle tp-resizeme rs-parallaxlevel-2"
                 id="slide-674-layer-4"
                 data-x="['center','center','center','center']"
                 data-hoffset="['15','15','15','15']"
                 data-y="['middle','middle','middle','middle']"
                 data-voffset="['-110','-110','-110','-110']"
                 data-fontsize="['15','15','16','16']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                 data-start="2300"
                 data-splitin="none"
                 data-splitout="none"
                 data-responsive_offset="on"
                 style="z-index: 6; white-space: nowrap;"><a class="order-button" href="#">Order <br> <span>50k</span><span></span></a>
            </div>
          </li>
          <!-- SLIDE  -->
          <li data-index="rs-675" data-transition="slidingoverlayup" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="upload/slider/3.jpg" data-rotate="0" data-saveperformance="off" data-title="ideas" data-description="">
            <!-- MAIN IMAGE -->
            <img src="assets/upload/slider/3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
            <!-- LAYERS -->
            <!-- LAYERS -->

            <!-- LAYER NR. 1 -->
            <div class="tp-bg-text tp-caption Concept-Title tp-resizeme rs-parallaxlevel-2"
                 id="slide-675-layer-1"
                 data-x="['center','center','center','center']"
                 data-hoffset="['-1400','-1400','-1400','-1400']"
                 data-y="['middle','middle','middle','middle']"
                 data-fontsize="['100','90','80','50']"
                 data-lineheight="['80','80','50','36']"
                 data-voffset="['50','50','50','50']"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                 data-start="1400"
                 data-splitin="none"
                 data-splitout="none"
                 data-responsive_offset="on"
                 style="z-index: 5; white-space: nowrap;">

            </div>

            <!-- LAYER NR. 1 -->
            <div class="tp-caption Concept-Title tp-resizeme rs-parallaxlevel-2"
                 id="slide-675-layer-2"
                 data-x="['left','left','left','left']"
                 data-hoffset="['15','15','15','15']"
                 data-y="['middle','middle','middle','middle']"
                 data-fontsize="['100','90','80','50']"
                 data-lineheight="['80','80','50','36']"
                 data-voffset="['10','20','20','20']"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                 data-start="1800"
                 data-splitin="none"
                 data-splitout="none"
                 data-responsive_offset="on"
                 style="z-index: 7; white-space: nowrap;">MÍT TRỘN
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption Concept-SubTitle tp-resizeme rs-parallaxlevel-2"
                 id="slide-675-layer-3"
                 data-x="['left','left','left','left']"
                 data-hoffset="['15','15','15','15']"
                 data-y="['middle','middle','middle','middle']"
                 data-voffset="['140','140','130','110']"
                 data-fontsize="['19','19','18','14']"
                 data-lineheight="['29','28','26','24']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                 data-start="2100"
                 data-splitin="none"
                 data-splitout="none"
                 data-responsive_offset="on"
                 style="z-index: 6; white-space: nowrap;font-style:italic;">Món ngon đậm đà hương vị miền Trung
            </div>

            <!-- LAYER NR. 3 -->
            <div class="tp-caption Concept-SubTitle tp-resizeme rs-parallaxlevel-2"
                 id="slide-675-layer-4"
                 data-x="['center','center','center','center']"
                 data-hoffset="['15','15','15','15']"
                 data-y="['middle','middle','middle','middle']"
                 data-voffset="['-110','-110','-110','-110']"
                 data-fontsize="['15','15','16','16']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                 data-start="2300"
                 data-splitin="none"
                 data-splitout="none"
                 data-responsive_offset="on"
                 style="z-index: 6; white-space: nowrap;"><a class="order-button" href="#">Order <br> <span>50K</span><span></span></a>
            </div>

          </li>
        </ul>
        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
      </div>
    </div>
    <!-- END REVOLUTION SLIDER -->
  </section>
  <!-- End home section -->

  <!-- week-item-section
    ================================================== -->
  <section class="week-item-section">
    <div class="container">
      <div class="item-content">
        <div class="row">
          <div class="col-lg-7 offset-lg-5">
            <div class="title">
<!--              <span>pizza of the week</span>-->
              <h1>LÒNG HEO XÀO NGHỆ</h1>
            </div>
            <p>Là một món ăn thường được xuất hiện trong các bữa tiệc vào dịp cuối tuần hay những buổi gặp mặt bạn bè, bởi mùi vị thơm ngon hấp dẫn</p>
            <h1 class="price">
              chỉ 50K<span></span>
            </h1>
<!--            <div class="social-share">-->
<!--              <span>Share:</span>-->
<!--              <ul class="social-icons">-->
<!--                <li><a href="#">Facebook</a></li>-->
<!--                <li><a href="#">Twitter</a></li>-->
<!--                <li><a href="#">Instagram</a></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <a href="#" class="button-one">Order Now</a>-->
          </div>
        </div>
      </div>
    </div>
    <div class="image-holder">
      <img src="assets/upload/others/a1.jpg" alt="">
    </div>
  </section>
  <!-- End week-item section -->

  <!-- popular-menu-section
    ================================================== -->
  <section class="popular-menu-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="menu-box">
            <div class="title-box">
              <h1 class="title-line">
                <span>Thực &nbsp;Đơn</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900.88 267.49"><polygon points="900.88 0 868.07 267.49 60.56 267.49 0 48.04 900.88 0"/></svg>
              </h1>
<!--              <p>Best sellers of the week that we recommend.</p>-->
            </div>
            <ul class="menu-list">
              <li>
                <h2><a href="#"><span>LÒNG HEO XÀO NGHỆ</span> <span class="price">50K - 100K</span></a></h2>
                <p>Rất quen thuộc trong bữa ăn của người miền Trung, với hương vị độc đáo. Ngoài ra món ăn còn là một vị thuốc để chữa đau bao tử, tăng sức đề kháng cho cơ thể</p>
              </li>
              <li>
                <h2><a href="#"><span>GỎI BAO TỬ TAI HEO</span> <span class="price">50K</span></a></h2>
                <p>Nói đến gỏi – nộm thì không biết bao nhiêu là món, đa dạng cả về nguyên liệu và cách chế biến. Nhưng, đặc điểm chung của chúng là thanh mát, ngon miệng và kích thích vị giác rất tốt.</p>
              </li>
              <li>
                <h2><a href="#"><span>MÍT TRỘN</span> <span class="price">50K</span></a></h2>
                <p>Tuy được chế biến từ nguyên liệu chính là những trái mít non nhưng món mít trộn của người Đà Nẵng lại sở hữu hương vị hết sức thơm ngon, khi đã thưởng thức một lần thì bạn sẽ nhớ mãi không quên.</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-1">
          <div class="buttons-holder">
<!--            <a class="button-one grey" href="menu.html">view full menu</a>-->
<!--            <a class="button-one grey" href="#">download pdf</a>-->
          </div>
          <div class="image-holder">
            <img src="assets/upload/others/a2.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

<!--  <section class="reservation-section">-->
<!--    <div class="container">-->
<!--      <div class="item-content">-->
<!--        <div class="row">-->
<!--          <div class="col-lg-8">-->
<!--            <div class="buttons-holder">-->
<!--              <a class="button-one" href="#">Quick Delivery</a>-->
<!--              <a class="button-one" href="#">Have Account</a>-->
<!--            </div>-->
<!--            <form id="reservation-form">-->
<!--              <input name="address" id="address" type="text" placeholder="Enter Street Address">-->
<!--              <input name="room" id="room" type="text" placeholder="Appartment, Suite or Room |">-->
<!--              <div class="row">-->
<!--                <div class="col-md-4">-->
<!--                  <input name="city" id="city" type="text" placeholder="City">-->
<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                  <input name="state" id="state" type="text" placeholder="State">-->
<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                  <input name="zip-code" id="zip-code" type="text" placeholder="Zip Code">-->
<!--                </div>-->
<!--              </div>-->
<!--              <input type="submit" id="submit_reservation" value="Make Your Order">-->
<!--              <p>Our orders take from 5 - 10 minutes to reach destionation, depending on the locaiton of the buyer</p>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="image-holder">-->
<!--      <img src="assets/upload/others/a6.png" alt="">-->
<!--    </div>-->
<!--  </section>-->
  <!-- End reservation section -->


  <!-- End gallery section -->

  <!-- footer
    ================================================== -->

  <!-- End footer -->

</div>
<!-- End Container -->


