<section class="transport-section transport-style-three pt-100 pb-70">
  <div class="container">
    <div class="section-title text-center">
      <!--      <span class="color-blue">Our Services</span>-->
      <h2>{{'services.title'|translate}}</h2>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s">
        <div class="transport-card">
          <div class="transport-img">
            <img src="assets/img/services/1.jpg" alt="transport image">
          </div>
          <div class="transport-text">
            <h3>{{'services.section.title_1'|translate}}</h3>
            <p>{{'services.section.subtitle_1'|translate}}</p>
            <p class="mb-0">&nbsp;</p>

            <div class="theme-btn">
              <a [routerLink]="['','services','air-freight']"
                 class="default-btn">{{'services.button.readMore' |translate}}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
        <div class="transport-card">
          <div class="transport-img">
            <img src="assets/img/services/2.jpg" alt="transport image">
          </div>
          <div class="transport-text">
            <h3>{{'services.section.title_2'|translate}}</h3>
            <p>{{'services.section.subtitle_2'|translate}}</p>
            <p class="mb-0">&nbsp;</p>


            <div class="theme-btn">
              <a [routerLink]="['','services','road-freight']"
                 class="default-btn">{{'services.button.readMore' |translate}}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
        <div class="transport-card">
          <div class="transport-img">
            <img src="assets/img/services/3.jpg" alt="transport image">
          </div>
          <div class="transport-text">
            <h3>{{'services.section.title_3'|translate}}</h3>
            <p>{{'services.section.subtitle_3'|translate}}</p>

            <div class="theme-btn">
              <a routerLink="['','services','ocean-freight']"
                 class="default-btn">{{'services.button.readMore' |translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Transport System Section End -->

<!-- Why Choose  Section Start -->
<div class="choose-style-two pb-70">
  <div class="container">
    <div class="section-title text-center">
      <h2 class="color-blue">{{'services.group.title'|translate}}</h2>
      <!--      <p class="color-blue">Found parents would couldn't said on. That, feedback there made he was may blind you simple, its yet a own blind you ago hand.</p>-->
    </div>

    <div class="row align-items-center">
      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-12 col-sm-4 wow fadeInUp" data-wow-duration="1s">
            <div class="choose-card">
              <i class="icofont-fast-delivery"></i>
              <h3>{{'services.group.fastAndSafeDelivery'|translate}}</h3>
            </div>
          </div>
          <div class="col-lg-12 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="choose-card">
              <i class="icofont-options"></i>
              <h3>{{'services.group.perfectSolution'|translate}}</h3>
            </div>
          </div>
          <div class="col-lg-12 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="choose-card">
              <i class="icofont-money-bag"></i>
              <h3>{{'services.group.competitivePrices'|translate}} </h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="why-choose-image d-flex justify-content-center align-items-center">
          <img src="assets/img/why-choose/choose-img.png" alt="why Choose image">
        </div>
      </div>

      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-12 col-sm-4">
            <div class="choose-card">
              <i class="icofont-ui-browser"></i>
              <h3>{{'services.group.wideNetwork'|translate}}</h3>
            </div>
          </div>
          <div class="col-lg-12 col-sm-4">
            <div class="choose-card">
              <i class="icofont-live-support"></i>
              <h3>{{'services.group.247Support'|translate}}</h3>
            </div>
          </div>
          <div class="col-lg-12 col-sm-4">
            <div class="choose-card">
              <i class="icofont-like"></i>
              <h3>{{'services.group.enthusiasticStaff'|translate}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Why Choose Section End -->


