<!--<header>-->
<!--  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt=""></a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav m-auto">-->
<!--        <li class="nav-item active">-->
<!--          <a class="nav-link active" href="index.html">Home</a>-->
<!--        </li>-->
<!--&lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-link" href="menu.html">Menu</a>&ndash;&gt;-->
<!--&lt;!&ndash;          <ul class="dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="menu.html">Menu Small</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="menu-medium.html">Menu Medium</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="menu-big.html">Menu Big</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;          </ul>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-link" href="about.html">About</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-link" href="delivery.html">Delivery</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-link" href="blog.html">Blog</a>&ndash;&gt;-->
<!--&lt;!&ndash;          <ul class="dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="blog.html">Blog</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="single-post.html">Single Post</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="error-404.html">Error 404</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="under-construction.html">Comming soon</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="shopping-cart.html">Shopping Cart</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="shopping-checkout.html">Checkout</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;          </ul>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-link" href="contact.html">Locations</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--      </ul>-->
<!--&lt;!&ndash;      <a href="#" class="shopping-cart"><i class="fa fa-shopping-bag"></i><span>2</span></a>&ndash;&gt;-->
<!--    </div>-->

<!--  </nav>-->
<!--</header>-->
