<!-- Worker Section Start -->
<section class="worker-section pt-100 pb-70">
  <div class="container">
    <div class="section-title text-center">
      <span>Workers</span>
      <h2>Our Valuable Workers</h2>
      <p>Found parents would couldn't said on. That, feedback there made he was may blind you simple, its yet a own blind you ago hand.</p>
    </div>

    <div class="row">
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1">
        <div class="worker-card">
          <div class="worker-img">
            <img src="assets/img/worker/1.jpg" alt="worker image">
          </div>
          <div class="worker-text">
            <h3>John Doe</h3>
            <p>Road Freight Collector</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1" data-wow-delay=".1s">
        <div class="worker-card">
          <div class="worker-img">
            <img src="assets/img/worker/2.jpg" alt="worker image">
          </div>
          <div class="worker-text">
            <h3>Naimuk Waninolin</h3>
            <p>Air Freight Collector</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1" data-wow-delay=".2s">
        <div class="worker-card">
          <div class="worker-img">
            <img src="assets/img/worker/4.jpg" alt="worker image">
          </div>
          <div class="worker-text">
            <h3>Jackson</h3>
            <p>Road Freight Collector</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1" data-wow-delay=".3s">
        <div class="worker-card">
          <div class="worker-img">
            <img src="assets/img/worker/5.jpg" alt="worker image">
          </div>
          <div class="worker-text">
            <h3>Benjamin</h3>
            <p>Air Freight Collector</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1" data-wow-delay=".4s">
        <div class="worker-card">
          <div class="worker-img">
            <img src="assets/img/worker/6.jpg" alt="worker image">
          </div>
          <div class="worker-text">
            <h3>Cameron</h3>
            <p>Road Freight Collector</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1" data-wow-delay=".5s">
        <div class="worker-card">
          <div class="worker-img">
            <img src="assets/img/worker/3.jpg" alt="worker image">
          </div>
          <div class="worker-text">
            <h3>Mark Tyson</h3>
            <p>Ocean Freight Collector</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1" data-wow-delay=".6s">
        <div class="worker-card">
          <div class="worker-img">
            <img src="assets/img/worker/7.jpg" alt="worker image">
          </div>
          <div class="worker-text">
            <h3>Dylan</h3>
            <p>Ocean Freight Collector</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1" data-wow-delay=".7s">
        <div class="worker-card">
          <div class="worker-img">
            <img src="assets/img/worker/8.jpg" alt="worker image">
          </div>
          <div class="worker-text">
            <h3>Frank</h3>
            <p>Road Freight Collector</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Worker Section End -->
