

<!-- About Section Start -->
<section class="about-section about-style-two pb-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="about-img">
          <img src="assets/img/about/2.jpg" alt="about image">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-text">
          <div class="section-title">
            <span>{{'about'|translate}}</span>
            <h2>{{'about.title' | translate}}</h2>
          </div>

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="about-tab" data-bs-toggle="tab" href="#about" role="tab"
                 aria-controls="about" aria-selected="true">{{'about.collapse.title_1'|translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="mission-tab" data-bs-toggle="tab" href="#mission" role="tab"
                 aria-controls="mission" aria-selected="false">{{'about.collapse.title_2'|translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="goal-tab" data-bs-toggle="tab" href="#goal" role="tab" aria-controls="goal"
                 aria-selected="false">{{'about.collapse.title_3'|translate}}</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
              <p>{{'about.collapse.content_1'|translate}}</p>
              <p>{{'about.collapse.subContent_1'|translate}}</p>
              <p>{{'about.collapse.subSubContent_1'|translate}}</p>
            </div>
            <div class="tab-pane fade" id="mission" role="tabpanel" aria-labelledby="mission-tab">
              <p>{{'about.collapse.content_2'|translate}}</p>
              <p>{{'about.collapse.subContent_2'|translate}}</p>
            </div>
            <div class="tab-pane fade" id="goal" role="tabpanel" aria-labelledby="goal-tab">
              <p>{{'about.collapse.content_3'|translate}}</p>
              <!--              <p>{{'about.collapse.subContent_3'|translate}}</p>-->
            </div>
          </div>

          <div class="theme-btn">
            <a [routerLink]="['','about']" class="default-btn">{{'about.button.know_more'|translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->

<!-- Why Choose Section Start -->
<section class="why-choose-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 p-0">
        <div class="why-choose-img">
          <!--          <div class="shipping-text">-->
          <!--            <h3>Know Shipping Location</h3>-->
          <!--            <p>Track ID & Order ID will be on your document file.</p>-->
          <!--            <form>-->
          <!--              <div class="form-group">-->
          <!--                <input type="text" class="form-control" placeholder="Enter Track ID">-->
          <!--              </div>-->
          <!--              <div class="form-group">-->
          <!--                <input type="text" class="form-control" placeholder="Enter Order ID">-->
          <!--              </div>-->

          <!--              <button type="submit" class="shipping-btn">-->
          <!--                Track Now-->
          <!--              </button>-->
          <!--            </form>-->
          <!--          </div>-->
        </div>
      </div>

      <div class="col-lg-6 p-0">
        <div class="why-choose-text">
          <div class="section-title">
            <h2>{{'services.choose.title'|translate}}</h2>
            <p>{{'services.choose.subtitle'|translate}}</p>
          </div>

          <div class="accordions">
            <div class="accordion-item">
              <div class="accordion-title" data-tab="item1">
                <i class="icofont-group"></i>
                <h2>{{'services.choose.collapse_1.title'|translate}} <i class="icofont-stylish-right down-arrow"></i>
                </h2>
              </div>
              <div class="accordion-content" id="item1">
                <p>{{'services.choose.collapse_1.content'|translate}}</p>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-title" data-tab="item2">
                <i class="icofont-ssl-security"></i>
                <h2>{{'services.choose.collapse_2.title'|translate}}<i class="icofont-stylish-right down-arrow"></i>
                </h2>
              </div>
              <div class="accordion-content" id="item2">
                <p>{{'services.choose.collapse_2.content'|translate}}</p>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-title" data-tab="item3">
                <i class="icofont-money-bag"></i>
                <h2>{{'services.choose.collapse_3.title'|translate}} <i class="icofont-stylish-right down-arrow"></i>
                </h2>
              </div>
              <div class="accordion-content" id="item3">
                <p>{{'services.choose.collapse_3.content'|translate}}</p>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-title" data-tab="item5">
                <i class="icofont-live-support"></i>
                <h2>{{'services.choose.collapse_4.title'|translate}} <i class="icofont-stylish-right down-arrow"></i></h2>
              </div>
              <div class="accordion-content" id="item5">
                <p> {{'services.choose.collapse_4.content'|translate}}
                </p>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-title" data-tab="item6">
                <i class="icofont-like"></i>
                <h2>{{'services.choose.collapse_5.title'|translate}}<i class="icofont-stylish-right down-arrow"></i></h2>
              </div>
              <div class="accordion-content" id="item6">
                <p>
                  {{'services.choose.collapse_5.content'|translate}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Why Choose Section End -->

<!-- Worker Section Start -->
<!--<section class="worker-section worker-style-two pt-100 pb-70">-->
<!--  <div class="container">-->
<!--    <div class="section-title text-center">-->
<!--      <span>Workers</span>-->
<!--      <h2>Our Valuable Workers</h2>-->
<!--      <p>Found parents would couldn't said on. That, feedback there made he was may blind you simple, its yet a own blind you ago hand.</p>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1s">-->
<!--        <div class="worker-card">-->
<!--          <div class="worker-img">-->
<!--            <img src="assets/img/worker/1.jpg" alt="worker image">-->
<!--          </div>-->
<!--          <div class="worker-text">-->
<!--            <h3>John Doe</h3>-->
<!--            <p>Road Freight Collector</p>-->
<!--          </div>-->

<!--          <div class="worker-social">-->
<!--            <a [routerLink]="['']" target="_blank">-->
<!--              <i class="icofont-facebook"></i>-->
<!--            </a>-->
<!--            <a [routerLink]="['']" target="_blank">-->
<!--              <i class="icofont-twitter"></i>-->
<!--            </a>-->
<!--            <a [routerLink]="['']" target="_blank">-->
<!--              <i class="icofont-instagram"></i>-->
<!--            </a>-->
<!--            <a [routerLink]="['']" target="_blank">-->
<!--              <i class="icofont-swoosh-right"></i>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">-->
<!--        <div class="worker-card">-->
<!--          <div class="worker-img">-->
<!--            <img src="assets/img/worker/2.jpg" alt="worker image">-->
<!--          </div>-->
<!--          <div class="worker-text">-->
<!--            <h3>Naimuk Waninolin</h3>-->
<!--            <p>Air Freight Collector</p>-->
<!--          </div>-->

<!--          <div class="worker-social">-->
<!--            <a [routerLink]="['']" target="_blank">-->
<!--              <i class="icofont-facebook"></i>-->
<!--            </a>-->
<!--            <a [routerLink]="['']" target="_blank">-->
<!--              <i class="icofont-twitter"></i>-->
<!--            </a>-->
<!--            <a [routerLink]="['']" target="_blank">-->
<!--              <i class="icofont-instagram"></i>-->
<!--            </a>-->
<!--            <a [routerLink]="['']" target="_blank">-->
<!--              <i class="icofont-swoosh-right"></i>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">-->
<!--        <div class="worker-card">-->
<!--          <div class="worker-img">-->
<!--            <img src="assets/img/worker/3.jpg" alt="worker image">-->
<!--          </div>-->
<!--          <div class="worker-text">-->
<!--            <h3>Mark Tyson</h3>-->
<!--            <p>Ocean Freight Collector</p>-->
<!--          </div>-->

<!--          <div class="worker-social">-->
<!--            <a [routerLink]="['']" target="_blank">-->
<!--              <i class="icofont-facebook"></i>-->
<!--            </a>-->
<!--            <a [routerLink]="['']" target="_blank">-->
<!--              <i class="icofont-twitter"></i>-->
<!--            </a>-->
<!--            <a [routerLink]="['']" target="_blank">-->
<!--              <i class="icofont-instagram"></i>-->
<!--            </a>-->
<!--            <a [routerLink]="['']" target="_blank">-->
<!--              <i class="icofont-swoosh-right"></i>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">-->
<!--        <div class="worker-card">-->
<!--          <div class="worker-img">-->
<!--            <img src="assets/img/worker/4.jpg" alt="worker image">-->
<!--          </div>-->
<!--          <div class="worker-text">-->
<!--            <h3>Jackson</h3>-->
<!--            <p>Road Freight Collector</p>-->
<!--          </div>-->

<!--          <div class="worker-social">-->
<!--            <a [routerLink]="['']" target="_blank">-->
<!--              <i class="icofont-facebook"></i>-->
<!--            </a>-->
<!--            <a [routerLink]="['']" target="_blank">-->
<!--              <i class="icofont-twitter"></i>-->
<!--            </a>-->
<!--            <a [routerLink]="['']" target="_blank">-->
<!--              <i class="icofont-instagram"></i>-->
<!--            </a>-->
<!--            <a [routerLink]="['']" target="_blank">-->
<!--              <i class="icofont-swoosh-right"></i>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!-- Worker Section End -->

<!-- Blog Section Start -->
<!---->
<!-- Blog Section End -->

<!-- Newsletter Section Start -->
<!--<div class="newsletter-section">-->
<!--  <div class="container">-->
<!--    <div class="newsletter-area">-->
<!--      <h2>Join Newsletter For Daily Update</h2>-->
<!--      <div class="col-lg-6 p-0">-->
<!--        <form class="newsletter-form" data-bs-toggle="validator">-->
<!--          <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL" required autocomplete="off">-->

<!--          <button class="default-btn electronics-btn" type="submit">-->
<!--            Subscribe Now-->
<!--          </button>-->

<!--          <div id="validator-newsletter" class="form-result"></div>-->
<!--        </form>-->
<!--      </div>-->
<!--      <img src="assets/img/newsletter-img.png" alt="newsletter image">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- Newsletter Section End -->
